# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [ ]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

### Step 3. Assign it to a variable called wine

In [ ]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
wine = wine.drop(columns=[0, 3, 6, 8, 10, 12, 13])

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
wine.loc[0:2, 'alcohol'] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine.loc[[3, 4], 'magnesium'] = np.nan

In [ ]:
import pandas as pd
import numpy as np

wine.loc[[3, 4], 'magnesium'] = np.nan

print(wine)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0        NaN        1.71               15.6      127.0        3.06
1        NaN        1.78               11.2      100.0        2.76
2        NaN        2.36               18.6      101.0        3.24
3      14.37        1.95               16.8        NaN        3.49
4      13.24        2.59               21.0        NaN        2.69
..       ...         ...                ...        ...         ...
173    13.71        5.65               20.5       95.0        0.61
174    13.40        3.91               23.0      102.0        0.75
175    13.27        4.28               20.0      120.0        0.69
176    13.17        2.59               20.0      120.0        0.68
177    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
0               2.29  1.04
1               1.28  1.05
2               2.81  1.03
3               2.18  0.86
4               1.82  1.04
..               ...   ...
173             1.06  0.64
174             1.41  0.70
175             1.35  0.59
176             1.46  0.60
177             1.35  0.61

[178 rows x 7 columns]

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)

<ipython-input-12-35a0a02d7287>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine['alcohol'].fillna(10, inplace=True)
<ipython-input-12-35a0a02d7287>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine['magnesium'].fillna(100, inplace=True)

### Step 9. Count the number of missing values

In [ ]:

missing_values = wine.isna().sum()
print(missing_values)

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [ ]:
missing_values_count = wine.isnull().sum().sum()
print(f"Total number of missing values: {missing_values_count}")

Total number of missing values: 0

### Step 10.  Create an array of 10 random numbers up until 10

In [ ]:
import numpy as np

random_numbers = np.random.randint(0, 10, size=10)
print(random_numbers)

[5 3 9 4 8 8 9 8 5 4]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [ ]:
import numpy as np


row_indices = random_numbers
col_indices = np.random.randint(0, len(wine.columns), size=10)

wine.iloc[row_indices, col_indices] = np.nan

### Step 12.  How many missing values do we have?

In [ ]:
missing_values_count = wine.isnull().sum().sum()
print(f"Total number of missing values: {missing_values_count}")

Total number of missing values: 30

### Step 13. Delete the rows that contain missing values

In [ ]:
wine.dropna(inplace=True)
wine = wine.dropna()

### Step 14. Print only the non-null values in alcohol

In [ ]:
print(wine['alcohol'][wine['alcohol'].notnull()])

0      10.00
1      10.00
2      10.00
6      14.39
7      14.06
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 173, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [ ]:
wine.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.

In [ ]:
wine.describe()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,12.907630,2.350173,19.578613,99.514451,1.997168,1.580231,0.955988
std,0.879801,1.128031,3.325755,14.351731,0.993690,0.576693,0.231330
min,10.000000,0.740000,10.600000,70.000000,0.340000,0.410000,0.480000
25%,12.290000,1.600000,17.400000,88.000000,1.100000,1.240000,0.780000
50%,12.930000,1.870000,19.500000,98.000000,2.090000,1.540000,0.960000
75%,13.620000,3.120000,21.500000,107.000000,2.790000,1.950000,1.120000
max,14.750000,5.800000,30.000000,162.000000,5.080000,3.580000,1.710000