# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [8]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [9]:
import pandas as pd
baby_names = pd.read_csv(url)

### Step 4. See the first 10 entries

In [10]:

print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [11]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis=1)

In [12]:
print(baby_names.head())

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [15]:
# Số lượng tên nam và nữ
male_count = baby_names[baby_names['Gender'] == 'M'].shape[0]
female_count = baby_names[baby_names['Gender'] == 'F'].shape[0]

print(f"Số lượng tên nam: {male_count}")
print(f"Số lượng tên nữ: {female_count}")

if male_count > female_count:
    print("Có nhiều tên nam hơn trong tập dữ liệu.")
elif female_count > male_count:
    print("Có nhiều tên nữ hơn trong tập dữ liệu.")
else:
    print("Số lượng tên nam và nữ bằng nhau trong tập dữ liệu.")

Số lượng tên nam: 457549
Số lượng tên nữ: 558846
Có nhiều tên nữ hơn trong tập dữ liệu.

### Step 7. Group the dataset by name and assign to names

In [16]:
names = baby_names.groupby("Name")
print(names.head())

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1004923  Gryffin  2014      M    WI      5
1004950     Kroy  2014      M    WI      5
1004973     Owyn  2014      M    WI      5
1005707   Haylea  2005      F    WV      5
1012216  Coalton  2012      M    WV      7

[65502 rows x 5 columns]

### Step 8. How many different names exist in the dataset?

In [18]:
different_names = len(baby_names["Name"].unique())
print(f"Có {different_names} tên khác nhau trong tập dữ liệu.")

Có 17632 tên khác nhau trong tập dữ liệu.

### Step 9. What is the name with most occurrences?

In [19]:
name_counts = baby_names.groupby("Name")["Count"].sum()

# Find the name with the most occurrences
most_common_name = name_counts.idxmax()
print(f"Tên xuất hiện nhiều nhất là: {most_common_name}")

Tên xuất hiện nhiều nhất là: Jacob

### Step 10. How many different names have the least occurrences?

In [20]:
least_occurrences = name_counts.min()
num_least_common_names = (name_counts == least_occurrences).sum()
print(f"Số lượng tên khác nhau có số lần xuất hiện ít nhất là: {num_least_common_names}")

Số lượng tên khác nhau có số lần xuất hiện ít nhất là: 2578

### Step 11. What is the median name occurrence?

In [ ]:
median_name_occurrence = name_counts.median()
print(f"Median name occurrence: {median_name_occurrence}")

### Step 12. What is the standard deviation of names?

In [21]:
std_name_occurrence = name_counts.std()
print(f"Standard deviation of names: {std_name_occurrence}")

Standard deviation of names: 11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [22]:
summary = name_counts.describe()
summary

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64